.img{
    width:100%;
    padding: 0;
    margin: 0;
}
.main{
    margin-bottom:20px;
}
.heading{
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
}
.paragraph{
    margin: 0;
    font-size: 11.5px;
}
.price{
    font-size: 12px;
}
