.main{
    border-bottom: 1px solid rgb(236, 236, 236) ;
    margin: 0;
    padding:20px 10px;   
}
.mainBorder{
     border: 1px solid rgb(236, 236, 236);
     border-radius:7px;
}
.heading{
    font-size:13px;
    margin-bottom:3px;
}
.icons{
    font-size: 13px;
    margin-right: 2px;
}
